<!-- Render a card from the provided data -->
{% macro newCard(cardData) -%}
<div class="card {% if cardData.completed %}border-secondary{% else %}border-primary{% endif %}">
	<div class="card-body">
		<h5 class="card-title">{{ cardData.module }}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{ cardData.title }}</h6>
		<p class="card-text">{{ cardData.description }}</p>

		<a href="/toggle-completed/{{ cardData.id }}" class="text-decoration-none">
			{% if cardData.completed %}
			<button type="button" class="btn btn-outline-secondary btn-block">
				Mark as incomplete
			</button>
			{% else %}
			<button type="button" class="btn btn-outline-primary btn-block">
				Mark as complete
			</button>
			{% endif %}
		</a>
		<div class="btn-group btn-block mt-2" role="group">
			<!-- edit and delete buttons are instanced per-card so that the correct card is edited/deleted -->
			<a type="button" class="btn btn-outline-warning" href="/edit/{{ cardData.id }}">Edit</a>

			<a type="button" class="btn btn-outline-danger" href="/delete/{{ cardData.id }}">Delete</a>
		</div>
	</div>

	<div class="card-footer text-muted">
		Due {{ cardData.dueDate }} at {{ cardData.dueTime }}
	</div>
</div>
{%- endmacro %}